.header-1 {
  font-size: 80px;
  color: #92ae93;
  font-family: 'Abril Fatface', cursive;
}

.header-2 {
  font-size: 40px;
  color: #92ae93;
  font-family: 'Roboto', sans-serif;
}

.header-3 {
  font-size: 40px;
  color: #62767d;
  font-family: 'Abril Fatface', cursive;
}

.header-3-alt {
  font-size: 40px;
  color: #ec9784;
  font-family: 'Abril Fatface', cursive;
}

.header-4 {
  font-size: 32px;
  color: #92ae93;
  font-family: 'Roboto', sans-serif;
}

.header-4-alt {
  font-size: 32px;
  color: #ec9784;
  font-family: 'Roboto', sans-serif;
}

.header-4 {
  font-size: 24px;
  color: #92ae93;
  font-family: 'Roboto', sans-serif;
}

.header-4-alt {
  font-size: 24px;
  color: #ec9784;
  font-family: 'Roboto', sans-serif;
}

.paragraf-1 {
  font-size: 40px;
  color: #62767d;
  font-family: 'Roboto', sans-serif;
}

.paragraf-2 {
  font-size: 24px;
  color: #62767d;
  font-family: 'Roboto', sans-serif;
}

.paragraf-3 {
  font-size: 18px;
  color: #62767d;
  font-family: 'Roboto', sans-serif;
}


.navbar a {
  color: #62767d;
  background: #ffffff;
}

a:hover {
  color: #92aca3
}

#landing {
  background: url("../img/b1.png") no-repeat 260% 40%;
}

#landing .banner {
  padding-top: 13%;
}

#landing a.lets-meet {
  font-size: 40px;
  color: #ec9784;
  font-family: 'Roboto', sans-serif;
  height: 80px;
  weight: 280px;
  border: 1px solid;
  padding: 10px;
}

#landing a.lets-meet:hover {
  background: #ec9784;
  color: #ffffff;
  text-decoration: none;
}
#experience {
  margin-top: 60px;

}
#experience .header-4 {
  margin-left: 15px;
}

#experience .experience-nav {
  height: 170px;
  padding: 40px 0px;
}

#experience .experience-nav .nav-item {
  border-right: 2px solid #efefef;
}

#experience .skills-bars-list {
  border-right: 2px solid #efefef;
  margin-top: 17px;
}

#experience .skills-bars-list .progress {
  height: 6px;
  margin-top: 8px;
}

#experience .skills-bars-list .progress-bar {
  background: linear-gradient(to right, #94c687, #95c1a1);
}

#experience .skills-bars-list .skill-item {
  margin: 10px 0px;
}

#experience .skills-list {
  list-style-type: none;
}

#experience figure {
  margin: 0;
}

#experience .figure-img {
  height: 60px;
}

#attitude .how-do-i-work {
  margin-top: 120px;
}

#personal {
  height: 860px;
  margin-top: 40px;
}

#personal .paragraf-3 {
  text-align: left;
  margin-left: 15px;
}

#personal figure img {
  height: 85px;
  weight: 85px;
}

#contact {
  background: #ffe7df;
  height: 460px;
  margin-top: 60px;
  padding-top: 40px;
}

#contact img {
  height: 200px;
  weight: 200px;
}

#contact h4 {
  font-weight: bold;
}

footer {
  height: 200px;
  background: #4e5354;
  padding-top: 30px;
}

footer .nav-item {
  margin: 5px 0px;
}

footer .nav-item a {
  color: #8da490;
}

footer .social li {
  margin-left: 75px;
}

footer .social img {
  height: 35px;
  weight: 35px;
}

.under-footer {
  height: 45px;
  background: #373b3c;
}
