.shadow-md {
  box-shadow: 0px 0px 80px 0px rgba(150,176,174,0.15);
}
.header-1 {
  font-size: 60px;
  color: #92ae93;
  font-family: 'Abril Fatface', cursive;
}

.header-2 {
  font-size: 25px;
  color: #92ae93;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.header-3 {
  font-size: 30px;
  color: #62767d;
  font-family: 'Abril Fatface', cursive;
  font-weight: bold;
}

.header-3-alt {
  font-size: 30px;
  color: #ec9784;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.header-4 {
  font-size: 24px;
  color: #92ae93;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.header-4-alt {
  font-size: 24px;
  color: #ec9784;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.header-5 {
  font-size: 18px;
  color: #92ae93;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.header-5-alt {
  font-size: 18px;
  color: #ec9784;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.paragraph-1 {
  font-size: 20px;
  color: #62767d;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.paragraph-2 {
  font-size: 16px;
  color: #62767d;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.paragraph-3 {
  font-size: 12px;
  color: #62767d;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.navbar {
  z-index: 1030;
  position: absolute;
}

.navbar a {
  color: #62767d;
}

.navbar .nav-link {
  padding-top: 1px;
  margin: 0px 4px;
  height: 25px;
  border-right: 1px solid #95afae;
}

a:hover {
  color: #92aca3
}

#landing {
  background: url(../img/b1.png) no-repeat;
  background-size: 70% 100%;
  background-position: top right;
}

#landing .banner {
  padding-top: 13%;
}

#landing .banner .paragraph-2 {
  margin: 30px 0px 40px 0px;
}

#landing a.lets-meet {
  font-size: 30px;
  color: #ec9784;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  height: 80px;
  width: 280px;
  border: 1px solid;
  padding: 10px;
}

#landing a.lets-meet:hover {
  background: #ec9784;
  color: #ffffff;
  text-decoration: none;
}
#experience {
  margin-top: 60px;
}

#experience .skills-and-software h2 {
  margin-left: 15px;
}

#experience .experience-nav {
  margin-bottom: 45px;
}

#experience .experience-nav .nav-item {
  border: none;
}

#experience .skills-bars-list {
  border-right: 2px solid #efefef;
  margin-top: 17px;
}

#experience .skills-bars-list .progress {
  height: 6px;
  margin-top: 8px;
}

#experience .skills-bars-list .progress-bar {
  background: linear-gradient(to right, #94c687, #95c1a1);
}

#experience .skills-bars-list .skill-item {
  margin: 10px 0px;
}

#experience .skills-list {
  list-style-type: none;
}

#experience figure {
  margin: 0;
}

#experience .figure-img {
  height: 60px;
}

#attitude .how-do-i-work {
  margin-top: 120px;
}

#personal {
  margin-top: 40px;
}

#personal .paragraph-3 {
  text-align: left;
  margin-left: 15px;
}

#personal figure img {
  height: 85px;
  weight: 85px;
}

#contact {
  background: #ffe7df;
  margin-top: 60px;
  padding-top: 40px;
}

#contact img {
  height: 200px;
  weight: 200px;
}

#contact h4 {
  font-weight: bold;
}

footer {
  min-height: 200px;
  background: #4e5354;
  padding-top: 30px;
}

footer .nav-item {
  margin: 5px 0px;
}

footer .nav-item a {
  text-transform: uppercase;
  color: #8da490;
}
footer .social {

}
footer .social li {
  margin-left: 75px;
  width: 200px;
}

footer .social img {
  height: 35px;
  weight: 35px;
}

.under-footer {
  height: 45px;
  background: #373b3c;
}
@media (min-width: 992px) {
  #experience .experience-nav {
    height: 170px;
    padding: 40px 0px;
  }

  #experience .experience-nav .nav-item {
    border-right: 2px solid #efefef;
  }
}
@media (min-width: 1200px) {
  #experience .skills-and-software {
    margin-top: -140px;
  }

  #experience .experience-nav {
    height: 170px;
    padding: 40px 0px;
    position: relative;
    bottom: 144px;
  }
 }
