body { font-family: 'Roboto', sans-serif; }
.green-text { color: #92ae93; }
.rose-text { color: #ec9784; }
.grey-text { color: #62767d; }
.abril-font { font-family: 'Abril Fatface'; }

.font-size-7 { font-size: 60px; }
.font-size-6 { font-size: 30px; }
.font-size-5 { font-size: 24px; }
.font-size-4 { font-size: 20px; }
.font-size-3 { font-size: 18px; }
.font-size-2 { font-size: 16px; }
.font-size-1 { font-size: 12px; }
